*{
    font-family: cursive;

}
.hide{
    display:none;
}
ul{
    list-style-type: none;
} 
#settings{
    border: 2px solid black;
    width: 40%;
    padding: 0.7em;
}
#gamecontent{
    display: flex;
}
#thequestions{
    font-size: 150%;
    
}
.aQuestion{
    font-size: 200%;
    color: lime;
}
